<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Responsive Two Column Layout (Left Column Fluid)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/simple-structure.css">
  </head>
  
  <body>
    <h1>Responsive Two Column Layout (Left Column Fluid)</h1>
    
    <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">My Trips</a></li>
         </ul>
      </nav>
    </header>

    {% for slide in page["Slides"] %}
    <div class="columnsContainer">

      {% if slide ["slide"]["is image slide"] == true %} 
      <div class="leftColumn-image">
        <a href="{{ slide["slide"]["image-url"] }}"><img src="{{ slide["slide"]["image"] }}" alt="{{ slide["slide"]["image-alt" }}"/></a>
      </div> 
      {% endif %}
      
      {% if slide ["slide"]["is image slide"] == false %} 
      <div class="leftColumn-other">
      {{ slide ["slide"]["left-column-body"] | markdownify }}
      </div>
      {% endif %}
      
      <div class="rightColumn">
        {{ slide ["slide"]["right-column-body"] | markdownify }}
      </div>

    </div>
   {% endfor %}
 

    <footer>
      <p><a href="#">Contact Us</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
      <p>&copy;2014 Copyright info here...</p>
    </footer>

  </body>
</html>
